torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.1
tqdm==4.66.4
Pillow==10.4.0
opencv-python==4.10.0.84
moviepy==1.0.3
librosa==0.10.2.post1
soundfile==0.12.1
transformers==4.43.3
open-clip-torch==2.26.1
huggingface-hub==0.24.2
tensorboard==2.17.0
ptflops==0.7.3
PyYAML==6.0.1
